<div class="body">
    <p class ="title">Lab 2</p>
    <p class ="subtitle">Text in web usability</p>
    <div id ="bio-container">
        <div id ="bio-text">
            <h1>A little bit about me...</h1>
            <p><img id="bio-pic" src="/assets/20190106_162549.jpg" alt="Photo of a Victor's trip to Iceland">
                Hello! My name is Victor Hadziristic. I'm a <i>Software Developer</i>
                currently studying at <i>Seneca College</i>, set to graduate in 2021. 
                I have been programming ever since I was in the 10th grade, 
                which was over seven years ago. Since then, I have studied 
                a variety of programming languages, technologies, and 
                platforms. I am always trying to expand my skillsets in 
                not only technical fields but in interpersonal and 
                organizational areas as well.<br>
                <br><b>Projects</b><br>
                I have worked on a variety of projects on a variety of topics. 
                One such project is <i>InvenTurbo</i>, which is an online platform 
                where a business can manage inventory as well as buying and 
                selling stock from and to other companies. This project is 
                developed using <i>Angular, Node, Firebase, Flutter, and Stripe.</i><br>
                <br><b>Interests</b><br>
                Technology is not only a job to me, it's also something that 
                I pursue as a hobby. In high school, I built full arcade 
                machines, complete with joysticks and buttons, support for 
                two players, and every game from <i>PONG</i> to <i>Castlevania IV</i>. 
                Another hobby of mine is exploring outdated technology, 
                which might seem counterintuitive. Still, you would be 
                surprised to find how much you can learn by looking back at 
                old-school technology. I once built a musical project that 
                involved hooking up a series of floppy drives together and 
                creating musical tones via their stepper motors and an 
                <i>Arduino</i> board. Yeah, I am levels of nerd that shouldn't be 
                possible. Outside of technology, I also enjoy motorsports, 
                fishing, and house music.<br>
                <br><b>Work Experience</b><br>
                For most of my working days, I have worked in nightclubs and 
                bars. Some establishments that I have worked at include 
                <i>Toybox, Rebel, Cabana Pool Bar, The Thompson Rooftop, and 
                Maison Mercer. </i>It's tough to work with long and awkward 
                hours, but it allows me to pay for tuition. I've since left 
                the entertainment industry to focus on finishing my degree 
                and begin working at software companies, sitting down sure 
                beats standing up.
            </p>
        </div>
    </div>
    <div id="text-usability">
        <h1>How does this website follow web usability guidelines in terms of text?</h1>
        <p>
            <b>Contrast</b><br>I chose to use black text on a white background. Although this may seem like a dull color choice, it is the best choice for reading as it has good contrast and resembles reading written text. I have made efforts in other ways to make the interface pop.<br>
            <br><b>Color</b><br>Colored text can be hard to read, so I use it sparingly in my interface design. Although I don't have any colored text on this website yet, I will whenever I want to signify that the text has an interactive element to it. I do, however, use shades of grey on this website to signify that a piece of text is less important or that it supports other, more important pieces of text.<br>
            <br><b>Line Length</b><br>I've carefully chosen my typeface and font size to maintain legibility regardless of how wide the body of the text. Because I want my website to support a variety of display sizes, it is better to choose a robust font rather than controlling line length.<br>
            <br><b>Paragraph Highlight</b><br> To help users navigate the content of a page, I place paragraph headers to highlight the content of that paragraph. I also use different sized headers to help the user visualize the structure of the topics within the text.<br>
            <br><b>Font Choice</b><br> I like to keep my interfaces simple. I carefully chose one typeface and used only three fonts out of that typeface for the majority of the text. In addition to that, I made those three fonts relatively large to make the text easier to read, but not so large that navigating the page on smaller displays is a chore.<br>
            <br><b>Kerning, Tracking & Leading</b><br> Having worked with typography for a little while, I have found that modifying these metrics is more trouble than its worth. Fine-tuning the font might make the text a bit more legible, but on the whole, it's challenging to get things to look the same on different displays.<br>
            <br><b>Font Size</b><br> For this website, I have chosen Sofia Pro. It's a lovely sans-serif typeface with a robust family of fonts, I've found it to be legible even in tiny sizes, and stunning at large sizes.<br>
            <br><b>Typeface Variety</b><br> Some websites use multiple kinds of typefaces on their site, but I find this to be a distraction to the reading experience. If I want to denote a difference between specific portions of text, I use size or even formatting to do so. Consistency in the visual language of the text helps the eyes and brain focus on content.<br>
            <br><b>Text Formatting</b><br> I use text formatting rarely outside of the generally accepted conventions. Instead of putting text in all caps or changing the font, I find that using bolding, italicizing, and sizing do enough to catch the reader's attention. I use bolding on section/paragraph headings and relevant keywords. Italicizing is something I use traditionally, denoting a quote, the name of a book, or a foreign word to the reader.<br>
            <br><b>Text Accessibility</b><br> Certain styling practices can affect visual accessibility to a website. To avoid this, I rarely use color on text, with particular attention to colors that cannot be perceived by the color-blind. Additionally, I keep text large on this website to help people with difficulty seeing.<br>
        </p>
    </div>
</div>