<div class="body">
    <p class ="title">Assignment 1</p>
    <p class ="subtitle">Audio/Video project</p>
    <mat-card>
        <h2>Audio file that I created</h2>
        <p><b>Title: </b> Jeff Bezos: World's richest man pledges $10bn to fight climate change</p>
        <p><b>Transcript: </b> Amazon boss Jeff Bezos has pledged $10bn (£7.7bn) to help fight climate change.
            The world's richest man said the money would finance work by scientists, activists and other groups.
            He said: "I want to work alongside others, both to amplify known ways and to explore new ways of fighting the devastating impact of climate change."
            Writing on his Instagram account, Mr Bezos said the fund would begin distributing money this summer.
            Mr Bezos has an estimated net worth of more than $130bn, so the pledge represents almost 8% of his fortune.
            
            Some Amazon employees have urged him to do more to fight climate change. There have been walkouts and some staff have spoken publicly. 
            
            Compared to some multi-billionaires, Mr Bezos had done only limited philanthropy. 
            
            His biggest donation before Monday's pledge is thought to have been $2bn in September 2018 to help homeless families and fund schools.
            
            He has also been criticised for not signing the Giving Pledge, under which the super-rich promise to give away half of their wealth during their lifetimes.
            
            The Seattle-based company is a neighbour of Microsoft, which in January unveiled a plan to become carbon negative by 2030.
            </p>
        <a (click)="playAudio1()" *ngIf="!Audio1Playing">▶️</a>
        <a (click)="playAudio1()" *ngIf="Audio1Playing">⏸️</a>
    </mat-card>
    <br>
    <mat-card>
        <h2>Video that I created</h2>
        <div id="video-container"><div id="video" style="overflow:hidden;position: relative;"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="1024" height="576" type="text/html" src="https://www.youtube.com/embed/Pv5C5WqjdAA?autoplay=0&fs=1&iv_load_policy=3&showinfo=1&rel=0&cc_load_policy=0&start=0&end=0&vq=hd1080&origin=https://youtube-embed.com"></iframe><div style="position: absolute;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 0px;background: #fff;"> </small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br /></div>
    </mat-card>
    <br>
    <mat-card>
        <h2>Reflection</h2>
        <h3>Steps to create the video</h3>
        <ol>
            <li>Captured the audio of me reading out the news story.</li>
            <li>Importing the audio file into Adobe Premiere Pro.</li>
            <li>Found images related to my audio and imported those into Premiere.</li>
            <li>Placed the images in the video track, syncing them up to the audio.</li>
            <li>Added transitions between images.</li>
            <li>Rendered and exported the video to a high resolution format.</li>
            <li>Uploaded to YouTube.</li>
            <li>Embedded the video into this webpage.</li>
        </ol>
        <h3>Difficulties, thoughts, considerations</h3>
        <p>Initially I found the audio track to be too loud, so I lowered it substancially wihtin Premiere.
            I also had some trouble getting the video to output to high definition, but then selected 'Match Project Settings'
            and it solved those issues.
        </p>
        <h3>Assignment rating</h3>
        <p>
            I thought this assignment was fun, getting to use another piece of Adobe software and learning how to use it is always useful.
            However, I think the assignment is quite time consuming, as is most video projects, a lot of work goes into fixing little imperfections.
            I would rate the assignment 7/10.
        </p>
        <h3>Student Oath</h3>
        <p>
            I declare that this is wholly my own work in accordance with Seneca
            Academic Policy. No part of this work has been copied manually or
            electronically from any other source (including web sites) or
            distributed to other students.
            Name: Victor Hadziristic Student ID: 126196179
        </p>
    </mat-card>

<div class="footer">
    <p>Page last modified: 11:02pm February 22nd, 2020</p>
</div>