<div class="home-body">
    <p class = "title">Welcome to my portfolio!</p>
    <h1>Allow me to introduce myself,</h1>
    <p class = "intro">My name is Victor Hadziristic, I am a software developer at Seneca College, this is my portfolio site, which I am developing in BTH645: Multimedia Elements for User Interfaces. This website has been developed using Angular 8, Angular Material Design and is being hosted on github pages. Click the button below to see the source code on GitHub!</p>
    <a mat-raised-button class="home-page-button" href="https://github.com/VictorHadziristic/razor-crest-deploy">Click here to view the GitHub repository</a>
    <div class="footer">
        <p>Page last modified: 11:42pm January 20th, 2020</p>
    </div>
</div>