<div class="home-body">
    <p class = "title">Labs</p>
    <h1>Here you can find the labs I are currently working on...</h1>
    <div class="btn-group">
        <a mat-raised-button class="home-page-button" href="" >Lab 1</a>
        <a mat-raised-button class="home-page-button" routerLink="/lab2">Lab 2</a>
        <a mat-raised-button class="home-page-button" href="" disabled>Lab 3</a>
        <a mat-raised-button class="home-page-button" href="" disabled>Lab 4</a>
        <a mat-raised-button class="home-page-button" href="" disabled>Lab 5</a>
        <a mat-raised-button class="home-page-button" href="" disabled>Lab 6</a>
    </div>
</div>