<div class="home-body">
    <p class = "title">Web Usability</p>
    <h1>What is Web Usability?​</h1>
    <p>"The usability of a website tells us how effectively, efficiently, and satisfactorily its visitors or users can see, or examine by other means, the website."</p>
    <p>Source: <a href="https://health.usf.edu/is/blog/2018/03/13/what-is-website-usability--why-is-it-important">https://health.usf.edu/is/blog/2018/03/13/what-is-website-usability--why-is-it-important</a></p>
    <h1>Why usability is important?​</h1>
    <p>The usability of a website is essentially part of the user's experience with a company. In essence, it is a part of customer service. A customer can go to a variety of companies to fulfill a need. As a competitor in the space, the user experience should be as fluid as possible, and in today's age, a good website is required to maintain this.</p>
    <h1>30 principles for good usability regarding web design.</h1>
    <h2>Homepage 🏠</h2>
    <ol>
        <li>A homepage should be attractive and draw users in.</li>
        <li>This page should be easy to navigate.</li>
        <li>This page should include all the most important links in your website</li>
        <li>A homepage should only make use of a limited amount of text and pictures, so as to not overwhelm users.</li>
        <li>Any planned changes for a website should be mentioned on this page</li>
    </ol>
    <h2>Navigation 🧭</h2>
    <ol>
        <li>The back button in the browser should function as expected, to give users a reliable navigation tool.</li>
        <li>Links and buttons should behave consistently.</li>
        <li>Labels on tabs should be easy to understand.</li>
        <li>Sitemaps are a useful page to include to help users understand how to navigate a website.</li>
    </ol>
    <h2>Scrolling and Paging 📜</h2>
    <ol>
        <li>Avoid using horizontal scrolling.</li>
        <li>When there is a lot of text on a page, slower scrolling speeds should be used.</li>
    </ol>
    <h2>Content 📦</h2>
    <ol>
        <li>Make sure only necessary information is clearly displayed.</li>
        <li>Display information in a variety of ways – some visitors might like reading through info, others might like visuals or audio files.</li>
    </ol>
    <h2>Layout ✏️</h2>
    <ol>
        <li>Pages should not be cluttered with extraneous information or images.</li>
        <li>Important items that you want your users to see right away should be in the top center of the page.</li>
        <li>Comparative information should always be on one page - don’t make users go back and forth between pages to compare the information.</li>
        <li>The most important information on a page should be on the top and the least on the bottom.</li>
        <li>Different items on a page should be aligned consistently.</li>
        <li>Be conservative with how much white space you include.</li>
    </ol>
    <h2>Links 🔗</h2>
    <ol>
        <li>Text links are more useful than image links, so avoid using too many image links.</li>
        <li>Be consistent in how you alert a user as to which elements are clickable.</li>
        <li>Properly label internal and external links.</li>
        <li>Use appropriate link lengths.</li>
        <li>Let the user know if there are parts of an image they can click on for a link.</li>
    </ol>
    <h2>Headings, Titles, and Labels 💬</h2>
    <ol>
        <li>Headings, titles and labels should be descriptive.</li>
        <li>Highlight important headings visually, this will help readers find the information.</li>
        <li>Be concise in your headings and titles, but be sure to make them meaningful as well.</li>
    </ol>
    <h2>Accessibility ✔️</h2>
    <ol>
        <li>Provide text for all images, animations, maps, and other media.</li>
        <li>Make sure the information on your page can be accessed without style sheets, which may interfere with assistive technology.</li>
        <li>Make sure that plugins and applets are available to everyone by testing them to be sure.</li>
    </ol>
    <h2>Which of these principles are used on this website?</h2>
    <ol class="answers"> 
        <li>The website is easy to navigate.</li>
        <p>Every page on the website is accessbile via the toolbar on the top, which is available on every page.</p>
        <li>The home page should include all the most important links in your website.</li>
        <p>The home page of this website includes the the toolbar which contains all of the links for navigation within the website.
            On top of this I have included a link to the GitHub repo on the home page where the user can navigate away from the site, and view the source code.
        </p>
        <li>Avoid using horizontal scrolling.</li>
        <p>This website makes no use of horizontal scrolling.</p>
        <li>Display information in a variety of ways – some visitors might like reading through info, others might like visuals or audio files.</li>
        <p>I have made use of this principle on this very page, I have used a combination of text and images to highlight
            the individual sections, making them more distinct and memorable to the reader.
        </p>
        <li>Different items on a page should be aligned consistently.</li>
        <p>The pages on this webiste make use of a grid system, so everything is consistently aligned.</p>
        <li>Be consistent in how you alert a user as to which elements are clickable.</li>
        <p>The buttons which are clickable on the website, have color cues to alert the user that it is possible to interact with it.</p>
        <li>Highlight important headings visually, this will help readers find the information.</li>
        <p>Not only have I highlighted headings by bolding them, I have also varied their sizes, creating a visual way of interpreting the structure of given body of text.</p>
        <li>In my development of this webiste, I have ensured that every image, animation and other form of media features alternative text for accessibility purposes.</li>
        <p>Should the styling of the website fail, each multimedia asset has alternate text element to describe what was supposed to be there.</p>
        <li>All of the information on the page is accessible without the use of a style sheet.</li>
        <p>The website's markup is written pretty neatly, so should the sytling fail, all of the information is still readible.</p>
        <li>The website doesn't make use of any plugin or applet that wouldn't be available to a standard browser setup.</li>
        <p>This website will run with any browser out of the box, so it should not interfere with accessibility.</p>  
    </ol>
    <h3>And various other principles have been considered when I developed this website!</h3>
</div>